body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.header {
  display: flex;
  background-color: lightgrey;
  min-width: 800px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}
